.container {
    padding: 0 2rem;
    background-color: white;
}
  
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameForm{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameImage{
    margin-bottom: 50px;
    position: relative;
    border: 3px lightgray dashed;
    max-width: 100%;
    padding: 200px 150px 200px 150px;
    text-align: center;
}


.removeImageOverlay{
    color: red;
    margin-left: 10px;
    position: relative;
  }
  
.removeImageOverlay:hover{
    cursor: pointer;
}

.removeImageOverlay > * {  
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hideRemoveImage{
    display: none;
}

