.container {
    padding: 0 2rem;
    background-color: white;
}
  
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameImage{
    margin-bottom: 50px;
    margin-top: 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    border: 3px lightgray dashed;
}

.gameResultContainer{
    width: 100%;
    margin-top: 50px;
}

.ratingTable > thead > tr > th{
    text-align: center;
}

.ratingTable > tbody > tr > td{
    text-align: center;
}

.gameButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

.winnerMessage{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winnerEmoji{
    font-size: 50px;
}

.viewHeadline{
    text-align: center;
}

.shareInformation{
    margin-top: 50px;
    text-align: center;
}

.gameCode{
    background-color: lightgray;
    padding: 2px 5px 2px 5px;
    border-radius: 10%;
    color: #A10702;
}

.copyInvitation{
    margin-top: 25px;
}

.copyText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    color: #4cd964; 
}

.showCopy{
    display: flex;
}

.hideCopy{
    display: none;
}