.container {
    padding: 0 2rem;
    background-color: white;
}
  
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameImage{
    margin-bottom: 50px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    border: 3px lightgray dashed;
}
.rateHeadline{
    margin-bottom: 25px;
}

.joinIcon{
    font-size: 25px;
}