.container {
    padding: 0 2rem;
    background-color: white;
}
  
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rateHeadline{
    margin-bottom: 25px;
    text-align: center;
}

.gameCode{
    color: lightgray;
    margin-bottom: 25px;
}

.gameImage{
    margin-bottom: 50px;
    position: relative;
    border: 3px lightgray dashed;
    max-width: 100%;
    padding: 200px 150px 200px 150px;
}

.rateButton{
    margin-top: 25px;
}

.result{
    text-align: center;
}

.mock{
    font-size: 35px;
}